<div class="pokemon-profile-container">
    <div class="central-container">
        <div class="pokemon-img-container">
            <img [src]="this.getSprite()"
            [alt]="this.pokemon.name" />
        </div>
        <div class="content-container card-styled-colored {{this.pokemon.types[0].type.name}}">
            <div class="text-data">
                <p class="poke-id"><strong>#{{this.pokemon.id}}</strong></p>
                <h2>{{this.pokemon.name}}</h2>

            </div>
            <div class="types-container">
                <span *ngFor="let type of this.pokemon.types"
                    class="type--badge card-color {{type.type.name}}">{{type.type.name}}</span>
            </div>
            <div class="pokedex-entry-container">
                <h3>descrição</h3>
                <p>{{this.specie.flavor_text_entries[1].flavor_text}}</p>
            </div>
            <div class="abilities-container">
                <h3>habilidades</h3>
                <div>
                    <span *ngFor="let abilitie of this.pokemon.abilities"
                    >{{abilitie.ability.name}}</span>
                </div>
            </div>
            <div class="numeric-data-container">
                <div>
                    <h3>Altura</h3>
                    <span>{{this.getHeight()}}m</span>
                </div>
                <div>
                    <h3>Peso</h3>
                    <span>{{this.getWeight()}}Kg</span>
                </div>
                <div>
                    <h3>Base Exp</h3>
                    <span>{{this.pokemon.base_experience}}</span>
                </div>
            </div>
            <div class="status-container">
                <h3>status</h3>
                <div class="chip-wrapper">
                    <div class="status-chip " *ngFor="let stat of this.pokemon.stats">
                        <div class="param chip-color {{stat.stat.name}}">
                            {{stat.stat.name}}
                        </div>
                        <div class="value">
                            {{stat.base_stat}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>