.pokemon-profile-container {
    background-color: #e2ecff;
    font-family: "Poppins";
    height: 100%;
    padding: 100px 0;
    .central-container {
        min-width: 500px;
        max-width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pokemon-img-container {
            height: 300px;
            margin-bottom: -180px;
            z-index: 300;
            img {
                height: 100%;
            }
        }
        .content-container {
            padding: 200px 0 60px;
            background-color: white;
            //box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);

            border-radius: 30px;
            h3 {
                color: #0e2031;
            }

            .text-data,
            .pokedex-entry-container,
            .abilities-container,
            .types-container,
            .numeric-data-container,
            .status-container{
                margin: 30px 0 ;
            }

            .text-data,
            .pokedex-entry-container,
            .abilities-container,
            .status-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .text-data {
                p.poke-id {
                    color: #bbc4c5;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                h2 {
                    color: #0e2031;
                    font-size: 3rem;
                    font-weight: bolder;
                }
                h4 {
                    color: #bbc4c5;
                }
            }

            .types-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .type--badge {
                    border: none;
                    border-radius: 15px;
                    padding: 1px 20px;
                    margin-right: 10px;
                    font-size: 0.7rem;
                    font-weight: 600;
                    display: inline-flex;
                    align-items: center;
                    text-align: center;
                  }
            }

            .pokedex-entry-container {
                p {
                    text-align: center;
                    font-size: 0.9rem;
                    width: 90%;
                }
            }

            .abilities-container {
                div {
                    width: 90%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;
                    span {
                        border: 2px solid #0e2031;
                        border-radius: 500px;
                        padding: 10px 20px;
                        text-align: center;
                    }
                }
            }
            .numeric-data-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        margin: 10px 0;
                    }
                    span {
                        background-color: #e4edfd;
                        width: 50%;
                        padding: 10px 20px;
                        border-radius: 500px;
                        text-align: center;
                    }
                }
            }

            .status-container {
                .chip-wrapper {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: row;
                    width: 95%;
                    .status-chip{
                        background-color: #e4edfd;
                        margin: 10px;
                        height: 35px;
                        border-radius: 400px;
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        .param{
                            border-radius: 500px;
                            padding: 0 20px;
                            min-width: 30px;
                            height: 30px;
                            font-weight: bold;
                
                        }
                        .value{
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .pokemon-profile-container {
        background-color: #e2ecff;
        font-family: "Poppins";
        height: 100%;
        padding: 100px 0;
        .central-container {
            min-width: 95%;
            width: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .pokemon-img-container {
                height: 300px;
                margin-bottom: -180px;
                z-index: 300;
                img {
                    height: 100%;
                }
            }
            .content-container {
                padding: 200px 0 60px;
                background-color: white;
                //box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
    
                border-radius: 30px;
                h3 {
                    color: #0e2031;
                }
    
                .text-data,
                .pokedex-entry-container,
                .abilities-container,
                .types-container,
                .numeric-data-container,
                .status-container{
                    margin: 30px 0 ;
                }
    
                .text-data,
                .pokedex-entry-container,
                .abilities-container,
                .status-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
    
                .text-data {
                    p.poke-id {
                        color: #bbc4c5;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                    h2 {
                        color: #0e2031;
                        font-size: 3rem;
                        font-weight: bolder;
                    }
                    h4 {
                        color: #bbc4c5;
                    }
                }
    
                .types-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .type--badge {
                        border: none;
                        border-radius: 15px;
                        padding: 1px 20px;
                        margin-right: 10px;
                        font-size: 0.7rem;
                        font-weight: 600;
                        display: inline-flex;
                        align-items: center;
                        text-align: center;
                      }
                }
    
                .pokedex-entry-container {
                    p {
                        text-align: center;
                        font-size: 0.9rem;
                        width: 90%;
                    }
                }
    
                .abilities-container {
                    div {
                        width: 90%;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 20px;
                        span {
                            border: 2px solid #0e2031;
                            border-radius: 500px;
                            padding: 10px 5px;
                            text-align: center;
                        }
                    }
                }
                .numeric-data-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h3 {
                            margin: 10px 0;
                        }
                        span {
                            background-color: #e4edfd;
                            width: 50%;
                            padding: 10px 20px;
                            border-radius: 500px;
                            text-align: center;
                        }
                    }
                }
    
                .status-container {
                    .chip-wrapper {
                        flex-wrap: wrap;
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: row;
                        width: 95%;
                        .status-chip{
                            background-color: #e4edfd;
                            margin: 10px;
                            height: 30px;
                            border-radius: 400px;
                            padding: 5px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-evenly;
                            .param{
                                border-radius: 500px;
                                padding: 0 10px;
                                min-width: 30px;
                                height: 25px;
                                font-weight: bold;
                    
                            }
                            .value{
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
