a {
  text-decoration: none;
  color: black;
}

.card-history-container {
  height: 120px;
  position: relative;
  //box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  transition: 200ms;
  &:hover {
    cursor: pointer;
    //box-shadow: 0 0px 30px rgb(255, 255, 255), 0 3px 6px rgb(255, 255, 255);
    transform: scale(1.05);
  }

  .remove-from-favorites-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    i {
      font-size: 2rem;
      color: yellow;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }

  a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    .image-container {
      z-index: 20;
      height: 100px;
      margin: -50px auto 0;
      img {
        height: 100%;
        //transform: translateX(-30px);
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 640px) {
  .card-history-container {
    height: 180px;
    //box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    a {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      .image-container {
        z-index: 20;
        height: 100px;
        margin: -60px auto 0;
        img {
          height: 100%;
          //transform: translateX(-30px);
        }
      }

      .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 16px;
        }
      }
    }
   
    .remove-from-favorites-container {
      position: absolute;
      bottom: 0;
      right: 0;
      top:unset;
      margin: 0;
      height: 50px;
      padding: 10px 10px 0 10px;
      border-radius: 10px 0 10px 0;
      z-index: 50;
      background-color: rgb(213, 213, 248);
      i {
        font-size: 2rem;
        color: yellow;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}
