$white: #fff !default;
$black: #000 !default;
$red: #E30303 !default;
$orange: #fb5f11 !default;
$geekorange: #FC9E70 !default;
$gold: #ffc107 !default;
$green: #52c41a !default;
$blue: #11B1FF !default;
$cyan: #00c9a7 !default;
$purple: #886cff !default;
$magenta: #eb2f96 !default;
$volcano: #fa541c !default;
$lime: #a0d911 !default;
$geekblue: #7D94F0 !default;
$darkblue: #021529 !default;
$mediumblue: #008FD4 !default;
$softorange: #fb5f111a !default;
$softgreen: #CCEBDF !default;
$softblue: #7D94F0 !default;
$darkgreen: #029C60!default;
$darkpurple: #653796 !default;
